.navigation-items-section {
  background-color: #efefef;
  padding: 1em 0;
  margin-bottom: 1em;
}

.navigation-items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.navigation-items li {
  display: inline-block;
  margin-right: 24px;
}

.navigation-items-section nav {
  margin: 0 var(--layout-page-indent);
}
