body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #00B7FF;

  --layout-page-indent: 20px;
}

.flex-container {
  margin: auto;
}
@media (min-width: 768px) {
  .flex-container {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .flex-container {
    width: 1280px;
  }
}
