[data-component="Card"] {
  border: 1px solid rgba(53, 53, 53, 0.1);
  border-radius: 5px;
}

.header-image {
  height: 190px;
  background-size: cover;
  background-position: center;
}

.card-header {
  margin: 0;
  padding: 24px 0;
}

.body {
  height: 190px;
  padding: 35px 24px 24px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vendor-logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -40px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(53, 53, 53, 0.1);
}

.like-btn {
  border: none;
  color: var(--main-color);
}
